/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  section {
    font-size: 1em;
    background: #888;
    width: 18%;
    margin: 1em 1% 1em 1%;
    display: inline-block;
  }
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
    background: #eee;
    text-align: center;
    padding: 2px;
  }
  section {
    font-size: 1.1em;
    background: #888;
    width: 18%;
    margin: 1em 1% 1em 1%;
    display: inline-block;
  }
  h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
  }
  h2 {
    font-size: 2.4em;
  }
}
/* END SECOND BREAKPOINT */
